@using Microsoft.AspNetCore.Http
@{
    // Fetch the user's role from the session
    var userRole = Context.Session.GetString("UserRole");
    var userName = Context.Session.GetString("UserName");
}
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark bg-success" id="sidenavAccordion">
        <!-- Changed background color to green -->
        <div class="sb-sidenav-menu">
            <div class="nav" style="color: white;">
                <!-- User Information Section -->
                <div class="text-center mt-3 mb-3">
                    <h5 class="text-white">@userName</h5> <!-- Static Name -->
                    <p class="text-white mb-0"> @char.ToUpper(userRole[0])@userRole.Substring(1)</p>
                </div>
                <hr style="border-color: white;" />

                <!-- Admin Role Sidebar Menu -->
                @if (userRole == "admin")
                {
                    <a class="nav-link text-white" href="/Admin/Dashboard">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-home"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link text-white" href="/Admin/User">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-user"></i></div>
                        User
                    </a>
                }

                <!-- Staff Role Sidebar Menu -->
                @if (userRole == "Staff")
                {
                    <a class="nav-link text-white" href="/Staff/Dashboard">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-home"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link text-white" href="/Admin/Services">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-briefcase"></i></div>
                        Services
                    </a>
                    <a class="nav-link text-white" href="/Admin/Catacombs">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-layer-group"></i></div>
                        Catacombs
                    </a>
                    <a class="nav-link text-white" href="/Staff/Schedule">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-calendar-alt"></i></div>
                        Service Request
                    </a>
                }

                <!-- LGU Role Sidebar Menu -->
                @if (userRole == "lgu" || userRole == "LGU")
                {
                    <a class="nav-link text-white" href="/LGU/Dashboard">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-home"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link text-white" href="/Admin/Application">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-compass"></i></div>
                        Application
                    </a>
                    <a class="nav-link text-white" href="/Admin/Payments">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-money-bill-wave"></i></div>
                        Payments
                    </a>
                    <a class="nav-link text-white" href="/Admin/Catacombs">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-layer-group"></i></div>
                        Catacombs
                    </a>
                    <a class="nav-link text-white" href="/Reports">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-chart-bar"></i></div>
                        Reports and Analysis
                    </a>
                }

                <!-- Client Role Sidebar Menu -->
                @if (userRole == "client")
                {
                    <a class="nav-link text-white" href="/Client/Dashboard">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-home"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link text-white" href="/Client/ManageRelatives">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-user"></i></div>
                        Manage Relatives
                    </a>

                    <!-- Dropdown Menu for Burials -->
                    <a class="nav-link text-white collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#burialsCollapse" aria-expanded="false" aria-controls="burialsCollapse">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-cross"></i></div>
                        Burials
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="burialsCollapse" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link text-white" href="/Client/BurialApplication">Application Burial</a>
                            <a class="nav-link text-white" href="/Client/ManageApplications">Manage Applications</a>
                        </nav>
                    </div>

                    <!-- Dropdown Menu for Service Request -->
                    <a class="nav-link text-white collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#serviceRequestCollapse" aria-expanded="false" aria-controls="serviceRequestCollapse">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-envelope"></i></div>
                        Service Request
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="serviceRequestCollapse" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link text-white" href="/Client/ServiceRequest/Requests">Requests</a>
                            <a class="nav-link text-white" href="/Client/ServiceRequest/Create">Create New</a>
                        </nav>
                    </div>

                    <!--<a class="nav-link text-white" href="/Client/Renewals">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-clock"></i></div>
                        Renewals
                    </a>-->
                    <a class="nav-link text-white" href="/Client/PaymentHistory">
                        <div class="sb-nav-link-icon text-white"><i class="fas fa-money-bill-wave"></i></div>
                        Payments
                    </a>
                }
                <a class="nav-link text-white" href="/Staff/Profile">
                    <div class="sb-nav-link-icon text-white"><i class="fas fa-user"></i></div>
                    Manage Profile
                </a>
                <!-- Ensuring the text remains white -->
                <a class="nav-link text-white" href="/Notifications">
                    <div class="sb-nav-link-icon text-white"><i class="fas fa-bell"></i></div>
                    Notifications
                </a>
            </div>
        </div>
    </nav>
</div>
